

a{
    margin-left: 40px;
    margin-top: 40px;
    color: black;
}
.topnav{
    overflow: hidden;
    margin-top: 40px;
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;

}

.container{
    background-color:rgb(248, 242, 242);
    margin-bottom: 40px;
}

button{
    border-radius: 15px;
    box-shadow:0 10px 0 rgb(212, 223, 217)
}

img{
  margin-bottom: 10px;
}

h1{
  margin-left: 150px;
  font-family: cursive;
  margin-top: 100px;
}


h4{
margin-left: 100px;
}


.menu, .book{
  margin-left: 150px;
}

.brand{
  margin-left: 150px;
  margin-top: 40px;
}




h2{
  font-weight: 700;
  font-size: 70px;
  font-family: monospace;
}

.mno{
  background-color: honeydew;
}

table{
  margin-left: 100px;
}


h1{
  font-weight: 900;
  font-size: 70px;
  font-family: monospace;
  text-align: left;

}

h5{
  text-align: center;
}

.card{
  height: 400px;
  width: 500px;
  margin-left: 100px;
  border-bottom-left-radius: 60px;
  border-top-right-radius: 55px;


}

.row{
  margin-right: 200px;
}

.mn{
  margin-left: 200px;
}

h3{
  font-size: 40px;
  text-align: center;
}

input{
  margin-left: 250px;
  height: 100px;
  width: 700px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
}


h6{
  margin-top: 20px;
}

.navi{
  text-align: left;
}

