<!--The content below is only a placeholder and can be replaced.-->
<html>

<head>
  <link rel="styleSheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">

</head>
<div class="container">
  <div class="row justify-content-center">
    <div class="topnav">
      <img src="assets/images/logo 1.png"> &nbsp; &nbsp;

      <img src="assets/images/Navigation.png" alt>


      <button class="btn btn-danger ms-5">Book a table</button>
    </div>
  </div>




  <div>
    <h1>We provide the <br>
      best food for you</h1>

    <h4>Lorem ipsum dolor sit amet, consecture <br>
      adipiscing elit sed to elismod tempor incidident <br>
      ut laboure et dolore magna aliqua.</h4>
    <br>
    <button class="btn btn-primary menu">Menu</button>
    <button class="btn btn-danger ms-5 book">Book a table</button>
    <img src="assets/images/Group-1.png">
    <div class="brand">
      <i class="fa-brands fa-facebook fa-2x"></i>&nbsp;&nbsp;&nbsp;
      <i class="fa-brands fa-instagram fa-2x"></i> &nbsp;&nbsp;&nbsp;
      <i class="fa-brands fa-twitter fa-2x"></i>

      <tbody>
        <tr>
          <td>
            <img src="assets/images/dish-2 1.png" alt="target">
          </td>

          <td>
            <img src="assets/images/Mask group.png" alt="target">

          </td>
          <td>
            <img src="assets/images/Group.png">

          </td>
        </tr>
      </tbody>

    </div>
    <!-- <img src="assets/images/Group-1.png"> 
    <img src="assets/images/dish-2 1.png" alt="target">
    <img src="assets/images/Mask group.png" alt="target">
    <img src="assets/images/Group.png">  -->



  </div>
</div>







<div class="container">
  <table>
    <tbody>
      <tr>
        <td>
          <img src="assets/images/Group-8.png">
        </td>


        <td>
          <h2>Our Special Dishes</h2>
          <p>Lorem ipsum dolor sit amet, consecture <br>
            adipiscing elit sed to elismod tempor incidident </p>
        </td>


        <td>
          <img src="assets/images/Group-10.png">
        </td>
      </tr>
    </tbody>
  </table>





  <td class="tdbodycontent" id="workDemo">
    <div class="wrapper" style="height:340px;">
      <table class="tblhomecontent dotted" cellpadding="0" cellspacing="0">
        <tbody>
          <tr>

            <td>
              <img src="assets/images/dish-1 1.png">
              <h3>Lumpia with Suace</h3>
              <p>Lorem ipsum dolor sit amet, consecture
                adipiscing elit sed to elismod tempor</p>
            </td>

            <td>
              <img src="assets/images/dish-3 1.png">
              <h3>Fish and Veggle</h3>
              <p>Lorem ipsum dolor sit amet, consecture
                adipiscing elit sed to elismod tempor</p>
            </td>

            <td>
              <img src="assets/images/dish-5.png">
              <h3>Tofu Chili</h3>
              <p>Lorem ipsum dolor sit amet, consecture
                adipiscing elit sed to elismod tempor</p>
            </td>

            <td>
              <img src="assets/images/dish-4.png">
              <h3>Egg and Cocumber</h3>
              <p>Lorem ipsum dolor sit amet, consecture
                adipiscing elit sed to elismod tempor</p>
            </td>


          </tr>

        </tbody>
      </table>
      <img src="assets/images/Group-5.png">

    </div>
  </td>



  <tr>
    <td>
      <img src="assets/images/Group-9.png">
    </td>


    <td>
      <img src="assets/images/Group-6.png">
      <br>
      <img src="assets/images/Group-12.png">
    </td>
  </tr>


  <br>

  <tr>

    <td>
      <img src="assets/images/dish-2 2.png">
    </td>


    <td>
      <h2>Welcome to Our<br> Restaurant</h2>

      <br>

      <h4>Lorem ipsum dolor sit amet, consecture <br>

        adipiscing elit sed to elismod tempor incidident <br>
        ut laboure et dolore magna aliqua.</h4>
      <button class="btn btn-primary menu">Menu</button>
      <button class="btn btn-danger ms-5 book">Book a table</button>
      <img src="assets/images/Group-13.png">

    </td>
  </tr>
</div>


<div class="container">
  <tr>

    <td>
      <img src="assets/images/Group-5.png">
    </td>


    <td>
      <h2>Our Expects Chef</h2>
      <h4>Lorem ipsum dolor sit amet, consecture <br>
        adipiscing elit sed to elismod tempor incidident <br>
        ut laboure et dolore magna aliqua.</h4>
      <img src="assets/images/Group-7.png">
      <button class="btn btn-primary menu">Menu</button>
      <button class="btn btn-danger ms-5 book">Book a table</button>
    </td>

    <td>
      <img src="assets/images/chef 1.png">
    </td>
  </tr>
</div>





<div class="container">
  <table>
    <tbody>
      <tr>
        <td>
          <img src="assets/images/Group-14.png">

        </td>
        <td>

          <h1>Our Happy Customers</h1>
          <h5>Lorem ipsum dolor sit amet, consecture
            adipiscing elit sed to elismod tempor incidident... </h5>
        </td>
      </tr>
    </tbody>
  </table>


  <div class="row">
    <div class="col-lg-6 mb-4">
      <div class="card">
        <img src="assets/images/Stars.png" height="100px" width="100%">
        <div class="card-body">
          <p class="card-text">
            Lorem ipsum dolor sit amet consectur.Tortor massa nisl quam sit.Vitae congue neque
            penatibus mi in quisque.Leo in cursus enim magnis ante.Proin iaculis platea ipsum sagittis aceu
            alicum quis ornare tincident tempus sampor.
          </p>
          <h5 class="card-title"><b>Ama Ampomah</b> <br>
            <i>CEO & Founder Inc</i>
          </h5>
        </div>
      </div>
    </div>

    <div class="col-lg-6 mb-4">
      <div class="card">
        <img src="assets/images/Stars.png" height="100px" width="100%">

        <div class="card-body">
          <p class="card-text">
            Lorem ipsum dolor sit amet consectur.Tortor massa nisl quam sit.Vitae congue neque
            penatibus mi in quisque.Leo in cursus enim magnis ante.Proin iaculis platea ipsum sagittis aceu
            alicum quis ornare tincident tempus sampor.
          </p>
          
          <h5 class="card-title"><b>Kweku Ax</b><br>
            <i>CEO & Founder Inc</i>
          </h5>

        </div>
      </div>
    </div>
  </div>

  <p class="mn">
    <img src="assets/images/Dot.png">
  </p>
  <br><br> <br><br> <br><br>

  <div>
    <h3> Get Or Promo Code by Subscrbing To Our Newsletter</h3>

    <input placeholder="Enter your email">

    <img src="assets/images/Mask group-1.png">

  </div>
  <br><br>


  <td class="tdbodycontent" id="workDemo">
    <div class="wrapper" style="height:340px;">
      <table class="tblhomecontent dotted" cellpadding="0" cellspacing="0">
        <tbody>
          <tr>

            <td>
              <img src="assets/images/logo 1.png" alt>
              <p>Lorem ipsum dolor sit amet, consecture <br>
                adipiscing elit sed to elismod tempor <br>
                incidident ut laboure et dolore. <i>learn more</i></p>

              <h6><b>OPENING HOURS</b></h6>

          <tr>
            <td>
              Monday-Friday <br>
              8:00 am to 9:00 pm &nbsp;&nbsp;&nbsp;
            </td>

            <td>
              Saturday <br>
              8:00 am to 9:00 pm &nbsp;&nbsp;&nbsp;
            </td>

            <td>
              Monday-Friday <br>
              CLOSED
            </td>
          </tr>
  </td>


  <td>
    <h5><b>NAVIGATION</b></h5>
    <div class="navi">
      <tr>
        <td>Menu</td>
      </tr>

      <tr>
        <td>About us</td>
      </tr>

      <tr>
        <td>Contact us</td>
      </tr>

      <tr>
        <td>Main dishes</td>
      </tr>

    </div>
  </td>


  <td>
    <h5><b>DISHES</b></h5>
    <div class="navi">

      <tr>
        <td>Fish & viggies</td>
      </tr>

      <tr>
        <td>Tofu Chili</td>
      </tr>

      <tr>
        <td>Egg & Cocumber</td>
      </tr>

      <tr>
        <td>Lampia w/Suace</td>
      </tr>
    </div>
  </td>


  <td>
    <h5><b>FOLLOWS US:</b></h5>
    <div class="navi">

      <tr>
        <i class="fa-brands fa-facebook fa-2x"></i>
      </tr>
      <tr>

        <i class="fa-brands fa-instagram fa-2x"></i>
      </tr>
      <tr>

        <i class="fa-brands fa-twitter fa-2x"></i>
      </tr>

    </div>


  </td>

  </tr>

  </tbody>
  </table>

  <hr style="width:100%;text-align:center;margin: left 100px;">
  <h6>2022 Restaurants. All Right Reserved. Designed by <b>Isaac</b></h6>

</div>
</td>




</div>


</html>


<router-outlet></router-outlet>